<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" color="accent" aria-label="Example icon-button with menu icon">
    <mat-icon>cloud_done</mat-icon>
  </button>
  <span>Server Side Rendering</span>
  <div class="example-button-row m-2">
    <button mat-raised-button color="accent" [routerLink]="['']" routerLinkActive="router-link-active" >Home</button>
    <button mat-raised-button color="accent" [routerLink]="['/blog']" routerLinkActive="router-link-active" >Blog</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
