<div class=".container-fluid m-5">
  <h1 class="mt-3">Server-side rendering (SSR) with Bngular Universal</h1>
  <p class="mt-3 text-secondary">This guide describes Angular Universal, a technology that renders Angular applications on the server.</p>
  <p class="text-secondary"> A normal Angular application executes in the browser, rendering pages in the DOM in response to user actions.Angular Universal executes on the server, generating static application pages that later get bootstrapped on the client. This means that the application generally renders more quickly, giving users a chance to view the application layout before it becomes fully interactive.</p>
  <p class="text-secondary">For a more detailed look at different techniques and concepts surrounding SSR, check out this article.</p>
  <p class="text-secondary">Easily prepare an application for server-side rendering using the Angular CLI. The CLI schematic @nguniversal/express-engine performs the required steps, as described.</p>
</div>
